/* general styling */

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h2 {
  color: #854632;
  margin-bottom: 24px;
  margin-top: 32px;
}

main {
  margin: 0 auto;
  max-width: 375px;
}

.main-container {
  padding: 40px 32px;
}

.ingredients-list,
.instructions-list,
.preparation-list {
  display: flex;
  flex-direction: column;
}

/* recipe description section */

h1 {
  line-height: 1;
  font-size: 37px;
  color: #312e2c;
  margin-bottom: 24px;
}

.recipe-description {
  margin-bottom: 32px;
}

/* preparation time box */

.preparation-time {
  background-color: #fff7fb;
  padding: 24px;
  border-radius: 12px;
}

.preparation-time .heading {
  font-size: 20px;
  font-weight: 600;
  color: #7a284e;
  margin-bottom: 16px;
}

.preparation-list {
  padding-left: 20px;
  padding-left: 8px;
  gap: 14px;
}

.preparation-list li {
  display: flex;
  align-items: center;
  gap: 22px;
}

.preparation-list li::before,
.ingredients-list li::before {
  content: "•";
  font-size: 1.2em;
  color: #7a284e;
}

/* ingredients list section */

.ingredients,
.instructions {
  border-bottom: 1px solid #f3e5d7;
  padding-bottom: 32px;
}

.ingredients {
  gap: 5px;
}

.ingredients-list li {
  display: flex;
  gap: 28px;
  align-items: center;
}

/* instructions list section */

.instructions-list {
  gap: 10px;
  counter-reset: list-counter;
}

.instructions-list li {
  display: flex;
  gap: 18px;
  counter-increment: list-counter;
  list-style: none;
}

.instructions-list li::before {
  content: counter(list-counter) ".";
  color: #7a284e;
  font-weight: 700;
  padding-left: 8px;
}

/* nutrition list section */

.nutrition-list {
  margin-top: 24px;
}

.nutrition-list li {
  border-bottom: 1px solid #f3e5d7;
  padding: 15px 0px 15px 17px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nutrition-list span {
  font-weight: 700;
  color: #854632;
}

.nutrition-list li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.nutrition-list li:first-child {
  padding-top: 0px;
}
