/* general styling */

body {
  background-color: #f3e5d7;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h2 {
  color: #854632;
  margin-bottom: 1.2rem;
  margin-top: 1.7rem;
  font-size: 1.75rem;
}

main {
  margin: 0 auto;
  min-width: 320px;
  max-width: 616px;
  background-color: white;
}

.main-container {
  padding: 2.5em 2em;
}

.ingredients-list,
.instructions-list,
.preparation-list {
  display: flex;
  flex-direction: column;
}

/* recipe description section */

h1 {
  line-height: 1;
  font-size: 2.3125rem;
  color: #312e2c;
  margin-bottom: 1.5rem;
}

.recipe-description {
  margin-bottom: 2em;
}

/* preparation time box */

.preparation-time {
  background-color: #fff7fb;
  padding: 1.5em;
  border-radius: 12px;
}

.preparation-time .heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #7a284e;
  margin-bottom: 1em;
}

.preparation-list {
  padding-left: 1.25em;
  padding-left: 0.5em;
  gap: 0.2em;
}

.preparation-list li {
  display: flex;
  align-items: center;
  gap: 1.375em;
}

.preparation-list li::before,
.ingredients-list li::before {
  content: "•";
  font-size: 1.2rem;
  color: #7a284e;
}

/* ingredients list section */

.ingredients,
.instructions {
  border-bottom: 1px solid #f3e5d7;
  padding-bottom: 2em;
}

.ingredients {
  gap: 0.3125em;
}

.ingredients-list li {
  display: flex;
  gap: 1.75em;
  align-items: center;
}

/* instructions list section */

.instructions-list {
  gap: 0.625em;
  counter-reset: list-counter;
}

.instructions-list li {
  display: flex;
  gap: 1.125em;
  counter-increment: list-counter;
  list-style: none;
}

.instructions-list li::before {
  content: counter(list-counter) ".";
  color: #7a284e;
  font-weight: 700;
  padding-left: 0.5em;
}

/* nutrition list section */

.nutrition-list {
  margin-top: 1.5em;
}

.nutrition-list li {
  border-bottom: 1px solid #f3e5d7;
  padding: 0.9375em 0px 0.9375em 1.0625em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nutrition-list span {
  font-weight: 700;
  color: #854632;
}

.nutrition-list li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.nutrition-list li:first-child {
  padding-top: 0px;
}

/* media queries */

@media (min-width: 616px) {
  img {
    margin-bottom: 2.5em;
    border-radius: 12px;
  }

  .main-container {
    padding: 0;
  }

  main {
    padding: 2.5em;
    border-radius: 24px;
    margin: 8em auto;
  }
}

@media (min-width: 800px) {
  main {
    max-width: 763px;
  }

  img {
    height: 300px;
    object-fit: cover;
  }
}
