/* GLOBAL STYLES */

body {
  background-color: #f3e5d7;
}

/* CARD BLOCK*/

.card {
  margin: 0 auto;
  min-width: 320px;
  max-width: 616px;
  background-color: white;
  color: #5f564d;
}

.card__content {
  padding: 2.5em 2em;
}

.card__img {
  display: block;
  width: 100%;
}

/* TYPOGRAPHY */

.card__title,
.card__section-title {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.card__title {
  line-height: 1;
  font-size: 2.3125rem;
  margin-bottom: 1.5rem;
  color: #312e2c;
}

.card__section-title {
  color: #854632;
  margin-bottom: 1.2rem;
  margin-top: 1.7rem;
  font-size: 1.75rem;
}

.card__ingredients-list,
.card__instructions-list,
.card__preparation-list {
  display: flex;
  flex-direction: column;
}

/* DESCRIPTION SECTION */

.card__description {
  margin-bottom: 2em;
}

/* PREPARATION TIME BOX */

.card__preparation {
  background-color: #fff7fb;
  padding: 1.5em;
  border-radius: 12px;
}

.card__preparation-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #7a284e;
  margin-bottom: 1em;
}

.card__preparation-list {
  padding-left: 0.5em;
  gap: 0.2em;
}

.card__preparation-item {
  display: flex;
  align-items: center;
  gap: 1.375em;
}

.card__preparation-item::before {
  content: "•";
  font-size: 1.2rem;
  color: #7a284e;
}

/* INGRIDIENTS SECTION */

.card__ingredients {
  gap: 0.3125em;
  border-bottom: 1px solid #f3e5d7;
  padding-bottom: 2em;
}

.card__ingredients-item {
  display: flex;
  gap: 1.75em;
  align-items: center;
}

.card__ingredients-item::before {
  content: "•";
  font-size: 1.2rem;
  color: #854632;
}

/* INSTRUCTIONS SECTION */

.card__instructions {
  border-bottom: 1px solid #f3e5d7;
  padding-bottom: 2em;
}

.card__instructions-list {
  gap: 0.625em;
  counter-reset: list-counter;
}

.card__instructions-item {
  display: flex;
  gap: 1.125em;
  counter-increment: list-counter;
  list-style: none;
}

.card__instructions-item::before {
  content: counter(list-counter) ".";
  color: #854632;
  font-weight: 700;
  padding-left: 0.5em;
}

/* NUTRITION SECTION */

.card__nutrition-list {
  margin-top: 1.5em;
}

.card__nutrition-item {
  border-bottom: 1px solid #f3e5d7;
  padding: 0.9375em 0px 0.9375em 1.0625em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__nutrition-value {
  font-weight: 700;
  color: #854632;
}

.card__nutrition-item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.card__instructions-item:first-child {
  padding-top: 0px;
}

/* MEDIA QUERIES */

@media (min-width: 616px) {
  .card__img {
    margin-bottom: 2.5em;
    border-radius: 12px;
  }

  .card__content {
    padding: 0;
  }

  .card {
    padding: 2.5em;
    border-radius: 24px;
    margin: 8em auto;
  }
}

@media (min-width: 800px) {
  .card {
    max-width: 763px;
  }

  .card__img {
    height: 300px;
    object-fit: cover;
  }
}
